.home {
  @media (min-width: 769px) {
    .data-area {
      padding: 1rem;
      display: flex;
      overflow: auto;
      margin: 1rem;
    }
    .home-heading {
      padding: 2rem 3rem;
      & > span {
        font-size: 36px;
      }
    }
  }
  .hourly-metrics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0 0.5rem 0;
  }
  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    background: white;
    padding: 1rem;
  }
  .data-area {
    padding: 1rem;
  }
}
